<ul>
  <li>
    <a [routerLink]="'/'" routerLinkActive="active"> Dashboard </a>
  </li>
  <li>
    <a [routerLink]="'/profile'" routerLinkActive="active"> My Profile </a>
  </li>
  <li>
    <a [routerLink]="'/attendance'" routerLinkActive="active"> My Attendance </a>
  </li>
  <li>
    <a [routerLink]="'/leaves'" routerLinkActive="active"> My leaves </a>
  </li>
</ul>
 

<!-- https://www.freakyjolly.com/angular-8-what-is-routing-and-how-to-add-in-angular-application-very-quick/ -->

<router-outlet></router-outlet>